body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f3f3f3;
    color: #222;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.hero {
    padding: 50px;
    background: #005bbb;
    color: white;
    text-align: center;
}

section {
    padding: 30px;
    margin: 20px auto;
    width: 80%;
    background: white;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
